<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container px-4" th:fragment="navbar">
    <a class="navbar-brand" href="#page-top">Zgadywanka</a>
    <div class="navbar-text" th:unless="${user=='anonymousUser'}" th:text="${user}"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="addquestion">Dodaj pytanie</a></li>

<!--                                    <li class="nav-item" th:unless="${user=='anonymousUser'}"><p class="nav-link" th:text="${user}"></p> </li>-->

            <li class="nav-item" th:if="${user=='anonymousUser'}"><a class="nav-link" href="login">Zaloguj</a></li>
            <li class="nav-item" th:unless="${user=='anonymousUser'}"><a class="nav-link" href="logout">Wyloguj</a></li>


            <li class="nav-item"><a class="nav-link" href="#about">o grze</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
        </ul>
    </div>
</div>

</html>