<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="lukasz"/>
    <title>Zgadywanka</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

    <div th:replace="fragments/header :: navbar"></div>

</nav>
<!-- Header-->
<!-- Options section-->
<section id="options">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Zgadywanka</h2>
                <p class="lead">Nowe konto</p>
                <form action="#" th:action="@{/addplayer}" th:object="${player}" method="post">
                    <div class="form-row">
                        <div class="form-group">
                            <h4>Dodaj konto</h4>
                            <label for="namePlayer">Podaj e-maila</label>
                            <input class="form-control" name="namePlayer" id="namePlayer" th:field="*{name}"
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <h4>Wprowadz haslo</h4>
                        <label for="playerPassword">Hasło</label>
                        <input class="form-control" name="playerPassword" id="playerPassword" th:field="*{password}"
                               type="password">
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">załóż konto</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section id="contact">
    <div th:replace = "fragments/footer :: contact"></div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Lukasz <span
            th:text="${#dates.year(#dates.createNow())}"></span>. Template by <a
            href="https://startbootstrap.com/templates/scrolling-nav/">Start Bootstrap</a></p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
